.result-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: rgb(39, 33, 33);
}

.result {
  color: #fff;
}

.keyContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
