.mayorContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  height: 100vh;
}

.calContainer {
  width: 50%;
  height: 50%;
}

.result-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: rgb(165, 163, 163);
}

.result {
  color: #fff;
  padding: 1rem;
}

.keyContainer {
  display: grid;
  justify-items: stretch;
  align-items: stretch;
  align-content: stretch;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto;
  height: 100%;
}

.my-0 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.operator {
  background-color: rgb(243, 133, 105);
}
